In [1]:
import numpy as np
from scipy import stats
from scipy.stats import norm
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
cars = pd.read_csv('Q7.csv')
cars.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [3]:
cars.mean()

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

In [4]:
cars.median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [5]:
cars.Points.mode()

0    3.07
1    3.92
Name: Points, dtype: float64

In [6]:
cars.var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [7]:
cars.std()

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

In [8]:
cars.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [9]:
Points_Range=cars.Points.max()-cars.Points.min()
Points_Range

2.17

In [10]:
Score_Range=cars.Score.max()-cars.Score.min()
Score_Range

3.9110000000000005

In [11]:
Weigh_Range=cars.Weigh.max()-cars.Weigh.min()
Weigh_Range

8.399999999999999